@ -1,12 +1,14 @@streamlit==1.45.1Add commentMore actionsplotly==6.1.2prophet==1.1.4pystan==2.19.1.1numpy==1.23.5pandas==2.3.0requests==2.32.4tensorflow==2.19.0joblib==1.5.1streamlit-autorefresh==1.0.1plotly==6.1.2scikit-learn==1.4.2xgboost==2.0.3numpy==1.23.5pystan==2.19.1.1prophet==1.1.4joblib==1.5.1requests==2.32.4pygments==2.15.1markdown-it-py==2.2.0mdurl==0.1.2rich==13.3.5typing-extensions==4.14.0
0 commit commentsComments0
