streamlit==1.45.1
streamlit-autorefresh==1.0.1
plotly==6.1.2
pandas==2.3.0
numpy==1.26.4          # ✅ tensorflow 호환 버전
scikit-learn==1.4.2
joblib==1.5.1
requests==2.32.4
tensorflow==2.19.0
xgboost==2.0.3

# Prophet (cmdstanpy 기반으로만 작동)
cmdstanpy==1.2.1
prophet==1.1.4
