# 프로젝트 핵심 의존성
streamlit==1.31.0
pandas==2.2.1
numpy==1.26.4
requests==2.31.0
plotly==5.20.0
scikit-learn==1.4.2
tensorflow==2.16.1
prophet==1.1.5
streamlit_autorefresh==0.4.1

# Prophet을 위한 추가 의존성
pystan~=2.14
holidays==0.45
lunardate==0.0.9
convertdate==2.4.0
tqdm==4.66.2

# 데이터 처리 및 시각화
matplotlib==3.8.3
seaborn==0.13.2

# 기타 유틸리티
python-dotenv==1.0.1
loguru==0.7.2
